extends layout
block content
    #main
      #nav
        #brand
          img(src='images/logo1.svg').logo
          p#title Card Wave
        #adBtn
          .glyphicon-plus
      #search
          .glyphicon-search
          p.searchTitle Search
          .glyphicon-chevron-right
    #adRail
      a About
      

        

