extends layout
block content
      #nav
        #brand
          img(src='images/logo1.svg')#logo
          p#title Card Wave
        #login
          if user
            img.image(src=user.facebook.picture, href="/logout")
          else
            a.icon(href="/auth/facebook")
              span.glyphicon.glyphicon-user
      
      #main
        #div

      #tab
        .icon#addBtn
          span.glyphicon.glyphicon-plus
        .icon#searchBtn
          span.glyphicon.glyphicon-search
      #rail
        form#addRail
          .form-group
            label(for="Question") Question
            textArea.form-control#question
          .form-group
            label(for="Answer") Answer
            textArea.form-control#answer
          if user
            button.btn.btn-primary#submit(type="button") Submit
          else
            button.btn.btn-primary.disabled#submit(type="button") Submit

        

