extends layout
block content
      #nav
        #brand
          img(src='images/logo1.svg')#logo
          p#title Card Wave
      #main
        #div
      #tab
        .icon#addBtn
          span.glyphicon.glyphicon-plus
        .icon#searchBtn
          span.glyphicon.glyphicon-search
      #rail
     
      

        

