extends layout

block content
    .containerz
      ul.nav
        #brand
          img(src='images/logo1.svg').logo
          p#title Card Wave
        
        // #user
          p.user DC
        #new
          <span class="glyphicon glyphicon-plus addIcon"></span>
      #search
        <span class="glyphicon glyphicon-search" id='searchIcon'></span>
      .content
        .input-group
            input.form-control#srch-term(type="text" placeholder="Search" name="srch-term")
            .input-group-btn
                button.btn.btn-default#submitBtn
                  i.glyphicon.glyphicon-search
        textarea.form-control#answer(rows="5")
        #options
          #questions
          #add
            add a new question


        

