extends layout

block content
    .containerz
      ul.nav
        #brand
          img(src='images/logo1.svg').logo
          p#title Card Wave
        
        // #user
          p.user DC
      #search
        <span class="glyphicon glyphicon-search" id='searchIcon'></span>
        p.searchTitle Search
        <span class="glyphicon glyphicon-chevron-right" id='searchCloseIcon'></span>
      // #new
      //   <span class="glyphicon glyphicon-plus addIcon"></span>
      .content
        


        

