html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
#title {
  font-variant: small-caps;
}
#title {
  color: #fff;
}
#title {
  font-size: 14px;
}
#rail {
  background: #fff;
}
#nav {
  background: #1e1e1e;
}
#tab {
  background: #343434;
}
body {
  background: #f9f9f9;
}
#title,
#main,
#tab {
  display: inline-block;
}
#tab {
  right: 0px;
}
#tab {
  position: absolute;
}
#nav {
  height: 52px;
}
#title {
  line-height: 52px;
}
#logo {
  width: 24px;
}
#logo {
  height: 24px;
}
#main {
  width: 100%;
}
#tab {
  height: 100%;
}
#tab {
  width: 50px;
}
#logo {
  margin: 0px 15px 0px 15px;
}
#main {
  margin-right: -tabWidth;
}
#main {
  transition: margin-right 0.5s;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
