#div {
  background: #008000;
  height: 5000px;
  width: 100%;
}
#rail {
  border: #d5d4d4;
  border-left-style: solid;
  border-left-width: 1px;
}
.form-control::first-letter {
  text-transform: capitalize;
}
#title {
  font-variant: small-caps;
}
#title {
  color: #fff;
}
#title {
  font-size: 14px;
}
.icon {
  color: #5d5d5d;
}
.selected.icon,
.icon:hover {
  color: #d6d6d6;
}
.icon {
  text-align: center;
}
.icon span {
  font-size: large;
}
#rail label {
  white-space: nowrap;
}
#rail label {
  color: #787878;
}
#rail label {
  font-weight: 100;
}
#nav {
  background: #1e1e1e;
}
#tab {
  background: #343434;
}
body {
  background: #f9f9f9;
}
#rail {
  background: #f7f7f7;
}
#title,
#main,
#tab,
#brand,
#login {
  display: inline-block;
}
.icon {
  display: block;
}
#rail form {
  display: none;
}
#tab {
  right: 0px;
}
#rail {
  right: 50px;
}
#tab,
#main,
#rail {
  position: absolute;
}
html,
body {
  overflow: hidden;
}
#login {
  float: right;
}
#nav {
  height: 50px;
}
#title {
  line-height: 50px;
}
#logo {
  width: 24px;
}
#logo {
  height: 24px;
}
#main {
  width: 100%;
}
#rail,
#main,
#tab,
html,
body {
  height: 100%;
}
#tab,
.icon,
#login img {
  width: 50px;
}
.icon,
#login img {
  height: 50px;
}
#rail {
  width: 0px;
}
#main {
  padding-right: 60px;
}
#main {
  padding-left: 10px;
}
#main {
  padding-top: 10px;
}
.icon {
  padding: 15px;
}
#logo {
  margin: 0px 15px 0px 15px;
}
#addRail,
#searchRail {
  margin: 15px;
}
#main {
  transition: padding-right 0.5s;
}
#rail {
  transition: width 0.5s;
}
.icon:hover {
  cursor: pointer;
}
#tab {
  z-index: 1;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
