p
   margin:0px;

.containerz
   background: #6fcab9;

.logo
   height: 30px;
   width: 30px;
   margin:15px  15px 0px 15px;
   display: inline-block;
   vertical-align: bottom;

#title
   font-variant:small-caps;
   display:inline-block
   color:white
   font-size: 30px;
   vertical-align: bottom;
   line-height: 30px;

#brand, #new, #user
   display:inline-block;

.new
   font-variant:small-caps;
   border: solid 1px white;
   font-size: 20px;
   padding 10px;
   color:white;
   line-height: 15px;
   font-weight: lighter;

.user
   font-variant:small-caps;
   border: solid 1px white;
   font-size: 20px;
   padding 10px;
   color:white;
   line-height: 15px;

#user, #new
   float:right
   margin:15px;

#new
   margin-right:0px;

.input-group
   width: 100%;
   
#srch-term
   border-bottom-left-radius: 0;
   border:1px solid #ecf0f1;
   padding:30px;
   
#answer
   display: none;
   
#options
   display: none;
   border-radius: 4px;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
   border-width: 2px;
   border: 1px solid #dce4ec;

.answer
   margin-left: 20px;

.option
   border-bottom: 1px solid #dce4ec
   background: #FFF;
   padding: 10px 15px 10px 15px;

.selected
   background:#f5f5f5

.question:first-letter
.answer:first-letter 
    text-transform: uppercase;

.last
   border-bottom:0px;

#add
   background:red;

.content
   padding:30px;

.blank
   width:15px;

.nav-tabs
   margin-top:15px;

.nav li a
   padding:15px;
   line-height:15px;
   padding-bottom:30px