// THROWAWAY WORK

// TODO : need to shift logo up 3px, color Rail as #262626
   
#div
   background green
   height 5000px
   width 100%
   
#rail
   border: #d5d4d4
   border-left-style: solid
   border-left-width: 1px
   
.form-control::first-letter 
   text-transform:capitalize


// Variables

speed = 0.5s

// Sizing
mrg = 15px
logoSize = 24px
tabWidth = 50px
navHeight = tabWidth
railWidth = 250px

//colors
navColor = #1e1e1e
lightGrey = #343434
titleGrey = #d2d2d2
white = #ffffff
bodyColor = #f9f9f9
tabColor = #343434
iconDisabled = #5c5c5c
iconEnabled = #d6d6d6
railColor = #f7f7f7
iconColor = #5d5d5d
iconSelectColor = #d6d6d6
blackFont = #787878

// Mixins


// Styling

// Text

#title
   font-variant: small-caps

#title
   color: white

#title
   font-size:14px
   
.icon
   color: iconColor
   
.selected.icon, .icon:hover
   color: iconSelectColor
   
.icon
   text-align: center
   
.icon span
   font-size: large;
   
#rail label   
   white-space: nowrap;
   
#rail label
   color: blackFont 

#rail label
   font-weight: 100

// Color

#nav
   background: navColor
   
#tab
   background: tabColor
   
body
   background: bodyColor
   
#rail
   background: railColor
//borders



// positioning

#title, #main, #tab, #brand, #login
   display: inline-block
   
.icon
   display: block
   
#rail form
   display: none

#tab
   right: 0px
   
#rail
   right: tabWidth
   
#tab, #main, #rail
   position: absolute
   
html, body
   overflow: hidden
   
#login
   float right

   
// sizing

#nav
   height:navHeight
   
#title
   line-height:navHeight
   
#logo
   width: logoSize
   
#logo
   height: logoSize
   
#main
   width: 100%
   
#rail, #main, #tab, html, body
   height: 100%
   
#tab, .icon, #login img
   width: tabWidth
   
.icon, #login img
   height: tabWidth
   
#rail
   width: 0px;
   

//padding

#main
   padding-right: 60px
   
#main
   padding-left: 10px

#main
   padding-top: 10px
   
.icon
   padding: mrg
   
   
//margin

#logo
   margin: 0px mrg 0px mrg
   
#addRail, #searchRail
   margin: mrg

// Animation

#main
   transition: padding-right speed

#rail
   transition: width speed
   
.icon:hover
   cursor: pointer

// Styling



//z-index
#tab
   z-index : 1



// remove this one day 
   

   



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}