#div {
  background: #008000;
  height: 5000px;
  width: 100%;
}
#rail {
  border-left: 1px solid #d5d4d4;
}
#title {
  font-variant: small-caps;
}
#title {
  color: #fff;
}
#title {
  font-size: 14px;
}
#nav {
  background: #1e1e1e;
}
#tab {
  background: #343434;
}
body,
#rail {
  background: #f9f9f9;
}
#title,
#main,
#tab {
  display: inline-block;
}
#tab {
  right: 0px;
}
#rail {
  right: 50px;
}
#tab,
#main,
#rail {
  position: absolute;
}
html,
body {
  overflow: hidden;
}
#nav {
  height: 52px;
}
#title {
  line-height: 52px;
}
#logo {
  width: 24px;
}
#logo {
  height: 24px;
}
#main {
  width: 100%;
}
#rail,
#main,
#tab,
html,
body {
  height: 100%;
}
#tab {
  width: 50px;
}
#rail {
  width: 200px;
}
#main {
  padding-right: 260px;
}
#main {
  padding-left: 10px;
}
#main {
  padding-top: 10px;
}
#logo {
  margin: 0px 15px 0px 15px;
}
#main {
  transition: padding-right 0.5s;
}
#rail {
  transition: width 0.5s;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
