// THROWAWAY WORK


   
#div
   background green
   height 5000px
   width 100%
   
// Needs Sorting
#rail
   border-left:1px solid #d5d4d4
   
// Variables

speed = 0.5s

// Sizing
mrg = 15px
logoSize = 24px
navHeight = 52px
tabWidth = 50px
railWidth = 200px

//colors
navColor = #1e1e1e
lightGrey = #343434
titleGrey = #d2d2d2
white = #ffffff
bodyColor = #f9f9f9
tabColor = #343434
iconDisabled = #5c5c5c
iconEnabled = #d6d6d6
railColor = #f7f7f7

// Mixins


// Styling

// Text

#title
   font-variant: small-caps

#title
   color: white

#title
   font-size:14px

// Color

#nav
   background: navColor
   
#tab
   background: tabColor
   
body, #rail
   background: bodyColor
   
//borders



// positioning

#title, #main, #tab
   display: inline-block
   
#tab
   right: 0px
   
#rail
   right: tabWidth
   
#tab, #main, #rail
   position: absolute
   
html, body
   overflow: hidden
   
   
// sizing

#nav
   height:navHeight
   
#title
   line-height:navHeight
   
#logo
   width: logoSize
   
#logo
   height: logoSize
   
#main
   width: 100%
   
#rail, #main, #tab, html, body
   height: 100%
   
#tab
   width: tabWidth
   
#rail
   width: railWidth

//padding

#main
   padding-right: 260px
   
#main
   padding-left: 10px

#main
   padding-top: 10px
   
//margin

#logo
   margin: 0px mrg 0px mrg
   

   
// Animation

#main
   transition: padding-right speed

#rail
   transition: width speed

// Styling







// remove this one day 
   

   



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}